@import url('https://fonts.googleapis.com/css?family=Lora');

* {
  font-family: Lora;
}

body {
  margin: 0;
}

.content {
    margin: 8px; 
}

header {
  margin: 0;
  background-color: #EEE;
  color: black;
  padding-bottom: 10px;
}

.header-top {
  overflow: hidden;
  background-color: #000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.header-top a {
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
  color: white;
}
.header-top a:hover {
  text-decoration: underline
}

.banner {
  max-width: 800px;
  text-align: left;
  margin: 30px;
}
.banner h1 {
  font-size: 40px;
}
.banner p {
  font-size: 15px;
  line-height: 15px;
}