@import url('https://fonts.googleapis.com/css?family=Lora');

* {
  font-family: Lora;
}

body {
  margin: 0;
}

.content {
    margin: 8px; 
}

header {
  margin: 0;
  background-color: #333;
  color: white;
  padding: 0px;
  border: 10px;
}

.header-top {
  overflow: hidden;
  background-color: #EEEEEE;
  padding: 10px 20px;
}

.header-top a {
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  color: black;
}
.header-top a:hover {
  text-decoration: underline
}
.header-right {
  float: right;
  display: flex;
  align-items: center;
}

.banner {
  max-width: 800px;
  text-align: center;
  margin: auto;
}
.banner h1 {
  font-size: 50px;
}
.banner p {
  font-size: 20px;
  line-height: 25px;
}

